TELEGRAM_TOKEN=__telegram_token__
TELEGRAM_CONTROL_GROUP_ID=__telegram_control_group_id__

ACCUWEATHER_API_KEY=__accuweather_api_key__
ACCUWEATHER_LOCATION_KEY=__accuweather_location_key__

LOCAL_BIN_DIR=__local_bin_dir__

STORAGE_DIR=../storage

MQTT_HOST=__mqtt_host__
MQTT_PORT=__mqtt_port__
MQTT_TOPIC_CONTROL=/wordclock_k3/control
MQTT_TOPIC_REQUEST=/wordclock_k3/request
MQTT_TOPIC_RESPONSE=/wordclock_k3/response
